@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: 1000;
}

a,
.green {
  text-decoration: none;
  color: rgb(242, 241, 243);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(155, 45%, 40%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    text-align: center;
    padding: 0 2rem;
  }
}